# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
.Python

# Distribution / packaging
*.egg-info/
*.egg
dist/
build/
.eggs/

# Virtual environments
.venv/
venv/
env/

# Editor
*~
\#*\#
.#*
*.swp
*.swo

# Testing
.pytest_cache/
.coverage
htmlcov/

# Mac
.DS_Store
